.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    background-color: #0e0e0e;
    width: 100%;
}

.activeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    background-color: #37083f;
    width: 100%;
}

.title {
    color: white;
    margin: 0;
    padding: 0.3rem 0.3rem 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 3rem);
    cursor: pointer;
}


.icon {
    cursor: pointer;
    margin-right: 0.45rem;
}

.icon:hover {
    opacity: 0.7;
}

.icon:active {
    opacity: 0.6;
}